<footer>
    <div class="container footer-upper section text-start">
        <div class="row d-flex align-items-end flex-wrap">
            <div class="col-lg-4 col-md-6">
                <h2 class="name">Anastasia<br> Bielievitina.</h2>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <h4><span>Also known as</span><br>Anabel</h4>
            </div>
            <div class="col-lg-4 col-md-12 text-end">
                <p>Designer & Full Stack developer passionate <br>about life long growth.</p>
            </div>
        </div>
    </div>
</footer>

<div class="footer-middle-bg">
    <div class="container footer-middle d-flex flex-wrap mt-5 mb-5 justify-content-between">
        <a href="https://medium.com/@abielievitina">
            <h6>My thoughts</h6>
        </a>
        <a href="https://github.com/Anabel7213">
            <h6>My repositories</h6>
        </a>
        <a href="https://www.behance.net/abielievitina">
            <h6>My design portfolio</h6>
        </a>
        <a href="https://www.linkedin.com/in/anastasia-bielievitina-b20396259/">
            <h6>My LinkedIn</h6>
        </a>
        <a href="https://www.instagram.com/_aesth_eticco_/">
            <h6>My life</h6>
        </a>
    </div>
</div>

<div class="footer-end-bg">
    <div class="container footer-end text-center mt-5 mb-5">
        <h6>Made by me in Figma & Visual Studio Code. Deployed with Render.</h6>
    </div>
</div>
